.product-grid-container{
    max-width: 900px;
    display: grid; 
    grid-template-areas:
    "product-grid-main-photo"
    "product-grid-flex-additional-photos"
    "product-grid-content-text";
}


.product-grid-main-photo { 
    grid-area: product-grid-main-photo; 
    display: flex;
    justify-content: center;
}
.product-grid-flex-additional-photos { 
  grid-area: product-grid-flex-additional-photos;
  display: flex;
  justify-content: center;
  overflow: hidden;

}

.product-grid-content-text {
  grid-area: product-grid-content-text;
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  
}

.max-content{
    width: max-content;
    height: max-content;
    background-color: var(--blackTheme);
    color: var(--blackThemeText);
    padding: 1rem 2rem;
    margin: 1rem 0;
}

@media only screen and (min-width: 768px) {

.product-grid-container {  
    overflow:hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.6fr 0.4fr;
    gap: .5em .5em;
    width: 100%;
    left:0;
    top:0;
    height: 100%;
    grid-auto-flow: row;
    grid-template-areas:
      "product-grid-main-photo product-grid-content-text"
      "product-grid-flex-additional-photos product-grid-content-text";
  }
  
}